.Color-change {
    background: #F4EEEE;
    transition-property: backgorund;
    transition-duration: 1s;
    transition-timing-function: ease;
    animation-name: colorChange;
    animation-duration: 7080ms;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}
.Exp-font {
    font-family: 'Dosis', sans-serif;
    color: #424242;
}

.Tab-box {
    padding: 5vmin 5vmin;
    display: flex;
    flex-direction: column;
}
.Tab-box-left {
    flex-grow: 1;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 600
}
.Tab-box-right {
    flex-grow: 3;
    margin-left: 2vmin;
    padding-bottom: 1em;
    color: #616161;
}

@keyframes colorChange {
    0% {
        background: #F4EEEE;
    } 
    19% {
        background: #EEDD4E;
    } 
    60% {
        background: #4499BB;
    } 
    92%{
        background: #F4EEEE;
    }
}
